.filter {
  background-color: #f7f7f7;
  padding: 5px 15px 20px;
  margin-top: 20px;
  margin-right: 5px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear {
  color: #00a1b4;
  text-decoration: none;
  font-size: 13px;
}
