.filter {
  background-color: #f7f7f7;
  padding: 5px 15px 20px;
  margin-top: 5px;
  margin-right: 10px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-header .clear {
  color: #00a1b4;
  text-decoration: none;
  font-size: 13px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: inline-block;
  width: 20%;
  flex-direction: column;
  background: white;
  margin: 1%;
  border-image: space;
  text-align: center;
  flex: 1 0 23%;
}
